# Backend Django (Render en production, localhost en dev)
NEXT_PUBLIC_API_URL=https://tontine-project.onrender.com/api
NEXT_PUBLIC_WS_URL=wss://tontine-project.onrender.com/ws
NEXT_PUBLIC_APP_NAME=TontineX360

# Pour le développement local, commenter les lignes ci-dessus et utiliser :
# NEXT_PUBLIC_API_URL=http://localhost:8010/api
# NEXT_PUBLIC_WS_URL=ws://localhost:8010/ws
