# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual env
venv/
.env

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
*.mo
*.pot

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
.coverage.*
